$color-font: #fff;
$color-bg-default: #33f;
$font-default: Arial, Helvetica, sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-default;
    background: #fff;
    margin: 0;
}

h1 {
    color: $color-font;
    text-align: center;
    width: 100%;
}

#imagens {
    background-color: #87CEEB;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    
    h2 {
        color: #fff;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 auto;
        
        img {
            height: 200px;
            width: auto;
            margin: 5px;
            object-fit: fill;
            object-position: bottom;
            border: 1px solid #333;

            &:hover {
                cursor: pointer;
                transform: scale(1.04);
                transition: transform .5s;
                border-color: yellow;
            }
        }

    }

}
/*header {
    background-color: $color-bg-default;
    width: 100vw;
    position: relative;
    height: 50vh;
    overflow: hidden;

    h1 {
        margin-top: 4rem;
        position: relative;
        z-index: 9;
    }
}
*/

.waves-container{
    background-color: lightskyblue;
    width: 100%;
    position: absolute;
    bottom: 30%;
    height: 60vh;
    overflow: hidden;
    z-index: -1;
}

.waves {
    left: 0;
    right: 0;
    width: 110%;
    margin-top: 16vh;
    animation: dash1 3s cubic-bezier(0, 1.23, 1, 0.11) infinite alternate;
    stroke-dasharray: 150;
    stroke: #fff;
    stroke-width: 3px;

    .wave-01 {
        animation: wave1 3s ease-in-out infinite alternate;
        
    }

    .wave-02 {
        animation: wave2 3s ease-in-out infinite alternate;
    }

    .wave-03 {
        animation: wave2 5s ease-in-out infinite alternate;
    }
}


@keyframes wave1 {
    from {
        transform: translateX(-50px);
    }
}

@keyframes wave2 {
    from {
        transform: translateX(-100px);
    }
}

@keyframes wave3 {
    from {
        transform: translateX(-20px);
    }
}

@keyframes dash1 {
    from {
       stroke-dashoffset: 2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@import 'player';
@import 'header';
@import 'footer';