
.nav {
    display: flex;
    width: auto;
    align-items: center;
    margin: 10px 0 20px 0;

    &__item {
        color: $font-color-primary;
        font-size: $font-size-nav;
        text-decoration: none !important;
        position: relative;
        padding: 0 30px 0 30px;
        &:hover {
            color: $color-secondary;
            animation: toTop;
            animation-duration: 1s;
        }
    }
}