
@font-face {
    font-family: 'freshman';
    src: url('../assets/fonts/louis_george_cafe-webfont.woff2') format('woff2'),
         url('../assets/fonts/louis_george_cafe-webfont.woff') format('woff');
         //url('../assets/fonts/Freshman.ttf') format('ttf');
    font-weight: normal;
    font-style: normal
}
