@mixin theme($theme: $color-03, $bg: $bg-color) {
    border: 1px solid $theme;
    background-color: $bg;
}

@keyframes destack-item {
    from {
        box-shadow: 0px 0px 50px 12px #fff;
    }
    to {
        box-shadow: 0px 0px 50px 12px red;
    }
}

.cars {
    &__title {
        color: $color-04 !important;
        font-size: 2rem;
    }
    &__item {
        @include theme($theme: #ccc, $bg: #fff);
        color: $color-02;

        &--destack{
            //@include theme($theme: $color-02, $bg: gray);
            animation: destack-item 2s alternate infinite;
        }

    }
    &__button {
        background-color: #4682B4 !important;
    }
    &__button:hover {
        cursor: pointer;
        background-color: red !important;
        transition: background-color .4s;
    }
}