@mixin theme($theme: $color-03, $bg: $bg-color) {
    border: 1px solid $theme;
    background-color: $bg;
}

.cars {
    &__title {
        color: $color-04 !important;
        font-size: 2rem;
    }
    &__item {
        @include theme($theme: #ccc, $bg: #fff);
        color: $color-02;

        &--destack{
            @include theme($theme: $color-02, $bg: $color-04);
        }

    }
    &__button {
        background-color: #4682B4 !important;
    }
    &__button:hover {
        cursor: pointer;
        background-color: #589cd4 !important;
        transition: background-color .4s;
    }
}