@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
    font-family: Montserrat;
}

header {
    height: 148px;
}

.logo {
    display: flex;
    align-items: center;
    float: left;
    height: 100%;
    padding-left: 205px;
}

.menu{
    height: 100%;
    width: 693px;
    margin-left: 1075px;
}

.menu ul{
    padding-top: 68px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul li {
    /*margin: auto calc(40px /2);*/
}

.menu ul li a {
    color: black ;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
}
.menu ul li a:hover{
    color: #3a8bcd ;
    transition: color .3S;
}

#transf-digital {
    margin: 90px auto 8rem;
    height: 700px;
}

.container {
    height: 100%;
    width: 95vw;
}

.div-img-transf-digital {
    display: flex;
    align-items: center;
    position: relative;
    width: 1050px;
    height: 700px;
    float: left;
}

.div-img-transf-digital img {
    width: 800px;
    margin-left: 178px;
}

.div-text-transf-digital{
    height: 700px;
    width: 720px;
    float: left;
    padding: 100px 0 0 42px;
}

.div-text-transf-digital h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
}

.div-text-transf-digital p {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    padding: 40px 0 66px 0;
}

.div-text-transf-digital a {
    border: solid 1px black;
    color: #0074FF;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    padding: 20px 36px;
}

.div-text-transf-digital a:hover {
    cursor: pointer;
    color: #3a8bcd;
    transition: color .3s;
}

#localizacao {
    margin: 255px auto 8rem;
    height: 900px;
}

#localizacao h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
}

#localizacao p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    padding-top: 40px;
}

.circulo-localizacao {
    position: absolute;
    height: 675px;
    width: 800px;
    z-index: -1;
    top: 1165px;
    opacity: 20%;
}

.mapa{
    background-color: #E2E0E0;
    box-shadow: 0 0 18px 16px rgba(226, 224, 224, .4);
    width: 975px;
    height: 494px;
    margin: 80px 0 0 450px;
}

.div-text-localizacao {
    padding-top: 165px;
}

.linha-localizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 170px;
}

#servicos {
    margin: 180px auto 8rem;
    height: 800px;
}

#servicos h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
}

#servicos p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    padding-top: 40px;
}

.circulo-servicos {
    position: absolute;
    height: 680px;
    width: 540px;
    z-index: -1;
    top: 2190px;
    left: 1360px;
    opacity: 30%;
}

.container-cards-servicos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 448px;
    margin-top: 75px;

}

.cards-servicos {
    width: 1324px;
    height: 448px;
}

.cards-servicos div{
    background-color: rgba(0, 116, 255, 1);
    width: 309px;
    height: 448px;
    float: left;
    margin-left: 22px;
}

.cards-servicos div:hover{
    scale: 1.01;
    transition: scale .3s;
    cursor: pointer;
}

.cards-servicos h3{
    color: rgba(26, 26, 26, 0.1);
    font-size: 144px;
    font-weight: 700;
    line-height: 176px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;  
}

.cards-servicos p{
    color: #fff;
    display: block !important;
    padding-top: 0px !important;
    text-align: start !important;
    margin: -70px 0 0 45px;
}

.card-info-servicos {
    font-size: 18px !important;
    font-weight: 400;
    line-height: 22px !important;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 25px !important;
    margin-top: 70px !important;
}

#segmentos {
    margin: 135px auto 21rem;
    height: 900px;
}

#segmentos h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
}

#segmentos p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    padding-top: 40px;
}

.container-cards-segmentos {
    height: 620px;
    margin-top: 75px;
}

.cards-segmentos {
    display: flex;
    justify-content: center;
    height: 280px;
    margin-bottom: 70px;
}

.cards {
    height: 280px;
    width: 400px;
    margin: 0 95px;
    float: left;
}

.cards p {
    display: block !important;
    text-align: left !important;
    font-size: 18px !important;
    line-height: 21.94px !important;
    padding-top: 0px !important;
    padding-left: 80px;
}

.cards h2 {
    display: block !important;
    font-size: 24px !important;
    text-align: left;
    margin-top: -40px;
    margin-left: 80px;
}

.card-segmento-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
    width: 65px;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

.card-segmento-img img {
    width: 50px;
    height: auto;
}

footer {
    background-color: #1a1a1a;
    height: 155px;
}

footer p {
    margin-top: 70px;
    margin-right: 145px;
    float: right;
    color: #fff;
    font-size: 14px;
}


.parent {
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    padding: 2rem;
}

.origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 1rem;
}

.draggable {
    border: 1px solid #efefef;
    background-color: #ddd;
    cursor: grab;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.dropzone {
    border: 2px dashed #ddd;
    background-color: #eee;
    flex-basis: 100%;
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
}

.dropzone:hover {
    border-color: #339;
}

.mapouter {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    position: none !important;
    text-align: center !important;
}
