@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
    font-family: Montserrat;
}

header {
    height: 148px;
}

.logo {
    display: flex;
    align-items: center;
    float: left;
    height: 100%;
    padding-left: 205px;
}

.menu{
    height: 100%;
    width: 693px;
    margin-left: 1075px;
}

.menu ul{
    padding-top: 68px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul li {
    /*margin: auto calc(40px /2);*/
}

.menu ul li a {
    color: black ;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
}
.menu ul li a:hover{
    color: #3a8bcd ;
    transition: color .3S;
}

#transf-digital {
    margin: 90px auto 8rem;
    height: 700px;
}

.container {
    height: 100%;
    width: 95vw;
}

.div-img-transf-digital {
    display: flex;
    align-items: center;
    position: relative;
    width: 1050px;
    height: 700px;
    float: left;
}

.div-img-transf-digital img {
    width: 800px;
    margin-left: 178px;
}

.div-text-transf-digital{
    height: 700px;
    width: 720px;
    float: left;
    padding: 100px 0 0 42px;
}

.div-text-transf-digital h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
}

.div-text-transf-digital p {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    padding: 30px 0 66px 0;
}

.div-text-transf-digital a {
    border: solid 1px black;
    color: #0074FF;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    padding: 20px 36px;
}

.div-text-transf-digital a:hover {
    cursor: pointer;
    color: #3a8bcd;
    transition: color .3s;
}

#localizacao {
    margin: 255px auto 8rem;
    height: 800px;
}

#localizacao h2 {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
}

#localizacao p{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    padding-top: 30px;
}

.circulo-localizacao {
    position: absolute;
    height: 675px;
    width: 800px;
    z-index: -1;
    top: 1165px;
    opacity: 20%;
}

.mapa{
    background-color: #E2E0E0;
    box-shadow: 0 0 16px 8px rgba(0, 116, 255 , .1);
    width: 975px;
    height: 494px;
    margin: 80px 0 0 450px;
}

.div-text-localizacao {
    padding-top: 165px;
}

.linha-localizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 170px;
}

.linha-localizacao svg {
    height: 5px !important;
}


h2 {
    margin-bottom: 1rem;
}

.container {
    margin: 0 auto;
}

.parent {
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    padding: 2rem;
}

.origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 1rem;
}

.draggable {
    border: 1px solid #efefef;
    background-color: #ddd;
    cursor: grab;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.dropzone {
    border: 2px dashed #ddd;
    background-color: #eee;
    flex-basis: 100%;
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
}

.dropzone:hover {
    border-color: #339;
}

#sobre h2 {
    font-size: 6rem;
    font-weight: 700;
}
#sobre p {
    color: #4F4F4F;
    padding: 20px 0 30px 0;
    font-size: 3.5rem;
    line-height: 1.2;
}

#sobre a {
    color: #3a8bcd;
    border: solid 1px black;
    padding: 10px 30px 10px 30px;
    font-size: 3rem;
}

#sobre a:hover {
    cursor: pointer;
}

.mapouter {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    position: none !important;
    text-align: center !important;
}

@media (max-width: 620px) {
    .container {
        max-width: 560px;
    }
}

/*@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fbb;
        color: #33f;
    }
}*/
